.Rage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Rage;
}

.Legit {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Legit;
}

.Other {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Other;
}

html, body {
  background: #0a0a0a;
  font-family: Georgia, serif;
  font-size: 16px;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}

.category-container {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-title {
  position: absolute;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 40px);
  overflow: auto;
}

footer {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2rem;
  height: 40px;
  background: #eeeeee;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.grid {
  margin: 0 40px 0 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      grid-template-areas: 'Rage Legit Other';
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
}

.column {
  padding: 20px;
  border: 1px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column__video-container {
  border: 1px dashed #FBAED2;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column__video-container:last-child {
  margin: 0;
}

.title, .sub-title, .paragraph {
  margin: 10px;
  font-family: Georgia, serif;
  text-align: center;
  color: #FBAED2;
}

.link {
  color: blue;
}

.link:visited {
  color: slateblue;
}

.paragraph {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.4rem;
}

.title {
  font-size: 2.4rem;
}

.sub-title {
  font-size: 1.8rem;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100px;
}

.bottom-section {
  padding: 40px;
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  row-gap: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

.shoppy-container, .youtube-channel {
  border: 1px solid #FBAED2;
}

@media only screen and (max-width: 1250px) {
  .grid {
        grid-template-areas: 'Rage Rage Legit Legit' '. Other Other .';
  }
}

@media only screen and (max-width: 790px) {
  .grid {
        grid-template-areas: 'Rage' 'Legit' 'Other';
  }
  .column__video, svg {
    max-width: 100%;
  }
  .bottom-section {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
}

@media only screen and (max-width: 420px) {
  .grid {
    margin: 0 10px 0 10px;
    row-gap: 10px;
  }
  .bottom-section {
    row-gap: 10px;
    padding: 10px;
  }
  .paragraph {
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .sub-title {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */