$grayish-white: #eeeeee
$black: #0a0a0a
$blue: #3ABED5
$pink: #FBAED2

.Rage
    grid-area: Rage

.Legit
    grid-area: Legit

.Other
    grid-area: Other

html, body
    background: $black
    font-family: Georgia, serif
    font-size: 16px
    overflow: hidden
    height: 100%
    padding: 0
    margin: 0

.category-container
    margin-bottom: 10px
    position: relative

.category-title
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    position: absolute
    margin: 0

main
    display: flex
    flex-direction: column
    height: calc(100% - 40px)
    overflow: auto

footer
    font-family: 'Cutive Mono', monospace
    font-size: 1.2rem
    height: 40px
    background: $grayish-white
    margin: 0
    display: flex
    justify-content: center
    align-items: center
    text-align: center

.grid
    margin: 0 40px 0 40px
    display: grid
    justify-content: center
    grid-template-areas: 'Rage Legit Other'
    column-gap: 40px
    row-gap: 40px

.column
    padding: 20px 
    border: 1px solid $grayish-white
    display: flex
    flex-direction: column

    &__video

        &-container
            border: 1px dashed $pink
            margin-bottom: 10px
            display: flex
            justify-content: center

            &:last-child
                margin: 0

.title, .sub-title, .paragraph
    font-family: Georgia, serif
    text-align: center

.link
    color: blue

    &:visited
        color: slateblue

.paragraph
    color: $pink
    max-width: 322px
    font-family: 'Cutive Mono', monospace
    font-size: 1.4rem

.title
    color: $pink
    margin: 10px
    font-size: 2.4rem

.sub-title
    color: $grayish-white
    font-size: 1.8rem

.title-container
    display: flex
    justify-content: center
    align-items: center
    min-height: 100px

.bottom-section
    padding: 40px
    display: grid
    row-gap: 40px
    column-gap: 40px
    min-height: 100px
    grid-template-columns: repeat(2, auto)

.shoppy-container, .youtube-channel
    border: 1px solid $pink

@media only screen and (max-width: 1250px)
    .grid
        grid-template-areas: 'Rage Rage Legit Legit' '. Other Other .'

@media only screen and (max-width: 790px)
    .grid
        grid-template-areas: 'Rage' 'Legit' 'Other'
    .column__video, svg
        max-width: 100%
    .bottom-section
        grid-template-columns: auto
        grid-template-rows: repeat(2, auto)

@media only screen and (max-width: 420px)
    .grid
        margin: 0 10px 0 10px
        row-gap: 10px

    .bottom-section
        row-gap: 10px
        padding: 10px

    .paragraph
        font-size: 1.2rem

    .title
        font-size: 1.8rem

    .sub-title
        font-size: 1.6rem